In [1]:
# Importing the required libraries
import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt
G=nx.Graph()

from datetime import date
today = date.today()

print(today)

2021-06-14

<span style='background :blue' > # CUNY SPS DATA 620

<span style='background :blue' >## WEEK 2 ASSIGNMENT 2
    
### This assignment is about the Top Billionaires in 2021, the dataset contains 2739 Records in .CSV format, including catagroical information

### The dataset was sourced from https://www.kaggle.com/nithishsekaran/billionairesdataset2021

<span style='background :blue' >### This work is a group effort, the group members are Ramnivas Singh, Deepak Sharma, Tage Singh,

In [3]:
# Loading data into pandas dataframe form .CSV file -----

df_billions = pd.read_csv('https://raw.githubusercontent.com/tagensingh/DATA620-WEEK-3/main/billionaires.csv')

df_billions.head(12)

,rank,finalWorth,personName,source,industries,countryOfCitizenship,gender,lastName,estWorthPrev
0,1,194752.748,Bernard Arnault & family,LVMH,Fashion & Retail,France,M,Arnault,194752.747649
1,2,193371.207,Jeff Bezos,Amazon,Technology,United States,M,Bezos,193371.207470
2,3,153245.292,Elon Musk,"Tesla, SpaceX",Automotive,United States,M,Musk,153245.291670
3,4,126812.953,Bill Gates,Microsoft,Technology,United States,M,Gates,126812.953075
4,5,120055.498,Mark Zuckerberg,Facebook,Technology,United States,M,Zuckerberg,120055.498000
5,6,108119.629,Warren Buffett,Berkshire Hathaway,Finance & Investments,United States,M,Buffett,108119.629270
6,7,106903.505,Larry Ellison,software,Technology,United States,M,Ellison,106903.504510
7,8,106214.304,Larry Page,Google,Technology,United States,M,Page,106214.304340
8,9,102918.810,Sergey Brin,Google,Technology,United States,M,Brin,102918.810310
9,10,91745.968,Francoise Bettencourt Meyers & family,L'Oréal,Fashion & Retail,France,F,Bettencourt Meyers,91745.967966
10,11,86422.472,Amancio Ortega,Zara,Fashion & Retail,Spain,M,Ortega,86422.471636
11,12,85781.919,Mukesh Ambani,diversified,Diversified,India,M,Ambani,85781.918688

<span style='background :blue' > ### The data load is accomplished using pandas datafram as is shown above

    
### One OUTCOME we can predict is a HIGH DEGREE OF CENTRALITY with regards to "Technology" nodes and "Country of Citizenship = United States"
    ---- This is just a prediction, the data will provide certainity