In [1]:
# Importing the required libraries
import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt
G=nx.Graph()

from datetime import date
today = date.today()

print(today)

2021-06-16

<span style='background :blue' > # CUNY SPS DATA 620

<span style='background :blue' >## WEEK 2 ASSIGNMENT 2
    
### This assignment is about the Top Billionaires in 2021, the dataset contains 2739 Records in .CSV format, including catagroical information

### The dataset was sourced from https://www.kaggle.com/nithishsekaran/billionairesdataset2021

<span style='background :blue' >### This work is a group effort, the group members are Ramnivas Singh, Deepak Sharma, Tage Singh,

In [2]:
# Loading data into pandas dataframe form .CSV file -----

df_billions = pd.read_csv('https://raw.githubusercontent.com/tagensingh/DATA620-WEEK-3/main/billionaires_sample.csv')

df_billions.head(20)

,rank,worth,name,source,industries,citizenship,gender,lastname,pworth
0,1,194752.748,Bernard Arnault & family,LVMH,Fashion & Retail,France,M,Arnault,194752.74760
1,2,193371.207,Jeff Bezos,Amazon,Technology,United States,M,Bezos,193371.20750
2,3,153245.292,Elon Musk,"Tesla, SpaceX",Automotive,United States,M,Musk,153245.29170
3,4,126812.953,Bill Gates,Microsoft,Technology,United States,M,Gates,126812.95310
4,5,120055.498,Mark Zuckerberg,Facebook,Technology,United States,M,Zuckerberg,120055.49800
5,6,108119.629,Warren Buffett,Berkshire Hathaway,Finance & Investments,United States,M,Buffett,108119.62930
6,7,106903.505,Larry Ellison,software,Technology,United States,M,Ellison,106903.50450
7,8,106214.304,Larry Page,Google,Technology,United States,M,Page,106214.30430
8,9,102918.810,Sergey Brin,Google,Technology,United States,M,Brin,102918.81030
9,10,91745.968,Francoise Bettencourt Meyers & family,L'Or√©al,Fashion & Retail,France,F,Bettencourt Meyers,91745.96797
10,11,86422.472,Amancio Ortega,Zara,Fashion & Retail,Spain,M,Ortega,86422.47164
11,12,85781.919,Mukesh Ambani,diversified,Diversified,India,M,Ambani,85781.91869
12,13,76061.205,Steve Ballmer,Microsoft,Technology,United States,M,Ballmer,76061.20451
13,14,74878.888,Gautam Adani & family,"infrastructure, commodities",Diversified,India,M,Adani,74878.88817
14,15,73516.849,Carlos Slim Helu & family,telecom,Telecom,Mexico,M,Slim Helu,73516.84881
15,16,72104.906,Zhong Shanshan,"beverages, pharmaceuticals",Food & Beverage,China,M,Zhong,72104.90582
16,17,66337.462,Alice Walton,Walmart,Fashion & Retail,United States,F,Walton,66337.46200
17,18,64587.674,Jim Walton,Walmart,Fashion & Retail,United States,M,Walton,64587.67400
18,19,63799.969,Rob Walton,Walmart,Fashion & Retail,United States,M,Walton,63799.96866
19,20,59068.083,MacKenzie Scott,Amazon,Technology,United States,F,Scott,59068.08261

<span style='background :blue' > ### The data load is accomplished using pandas datafram as is shown above

    
### One OUTCOME we can predict is a HIGH DEGREE OF CENTRALITY with regards to "Technology" nodes and "Country of Citizenship = United States"
    ---- This is just a prediction, the data will provide certainity

In [3]:
G.clear()

G = nx.from_pandas_edgelist(df_billions, source='name', target='citizenship', create_using=nx.Graph())

plt.show()

In [4]:
print (nx.info(G))

Name:
Type: Graph
Number of nodes: 230
Number of edges: 201
Average degree:   1.7478